<div>
	
	<AuthorizeView Roles="system administrator">
		<SystemAdminDashboard></SystemAdminDashboard>
	</AuthorizeView>
	<AuthorizeView Roles="participant">
		<ParticipantDashboard></ParticipantDashboard>
	</AuthorizeView>
	
</div>

@code {
	

}
