<div>	
		<AuthorizeView Roles="system administrator">
			<SystemAdminDashboard></SystemAdminDashboard>
		</AuthorizeView>
		<AuthorizeView Roles="participant">
			<ParticipantDashboard></ParticipantDashboard>
		</AuthorizeView>
		<AuthorizeView>
			<NotAuthorized>
				<h1 class="text-center">Welcome to Code Competition Managment System</h1>
				<h2 class="text-center">Please follow the <a href="authentication/login"><b>LINK</b></a> to use application.</h2>				
			</NotAuthorized>
		</AuthorizeView>
</div>
