<div>
	
	<AuthorizeView Roles="system administrator">
		<ErrorBoundary @ref="errorBoundary">
			<ChildContent>
				<SystemAdminDashboard></SystemAdminDashboard>
			</ChildContent>
			<ErrorContent Context="Some">
				<p class="error-message">Oops! Something went wrong while rendering system administrator dashboard!</p>
				<button class="btn btn-warning" @onclick="ResetError">Reset</button>
			</ErrorContent>
		</ErrorBoundary>
	</AuthorizeView>
	
	<AuthorizeView Roles="participant">
		<ErrorBoundary @ref="errorBoundary">
			<ChildContent>
				<ParticipantDashboard></ParticipantDashboard>
			</ChildContent>
			<ErrorContent Context="some">
				<p class="error-message">Oops! Something went wrong while rendering participant dashboard!</p>
				<button class="btn btn-warning" @onclick="ResetError">Reset</button>
			</ErrorContent>
		</ErrorBoundary>
	</AuthorizeView>
	
</div>

@code {
	

}
