<div>
	
	<AuthorizeView Roles="system administrator">
		<ErrorBoundary @ref="errorBoundary">
			<ChildContent>
				<SystemAdminDashboard></SystemAdminDashboard>
			</ChildContent>
			<ErrorContent Context="Some">
				<p class="error-message">Oops! Something went wrong while rendering system administrator dashboard!</p>
				<button class="btn btn-warning" @onclick="ResetError">Reset</button>
			</ErrorContent>
		</ErrorBoundary>
	</AuthorizeView>
	
	<AuthorizeView Roles="participant">
		<ErrorBoundary @ref="errorBoundary">
			<ChildContent>
				<ParticipantDashboard></ParticipantDashboard>
			</ChildContent>
			<ErrorContent Context="some">
				<p class="error-message">Oops! Something went wrong while rendering participant dashboard!</p>
				<button class="btn btn-warning" @onclick="ResetError">Reset</button>
			</ErrorContent>
		</ErrorBoundary>
	</AuthorizeView>
	<AuthorizeView>
			<NotAuthorized>
				<h1 class="text-center">Welcome to Code Competition Managment System</h1>
				<h2 class="text-center">Please follow the <a href="authentication/login"><b>LINK</b></a> to use application.</h2>				
			</NotAuthorized>
		</AuthorizeView>
</div>
