<h3>ParticipantDashboard</h3>
<h4>Participant information:</h4>

<table class="table">
	<thead>
		<th scope="col">User email</th>
		<th scope="col">User team</th>
	</thead>
	<tbody>
		<tr>
			<td class="align-middle">
				@LogedUserEmail
			</td>
			<td class="align-middle">
				@UserTeamName
			</td>
		</tr>
	</tbody>
</table>