<section style="margin-bottom: 10px">
	<input type="text" class="form-control" placeholder="Search by Name"
			@bind-value="@SearchString" @bind-value:event="oninput"
			@onkeyup="SearchChanged" />
</section>

@code {

}
