<section>
	<select class="form-control" @onchange="ApplySort">
		<option value="-1">- Sort By -</option>
		<option value="TaskName">Name</option>
		<option value="Timeframe">Time</option>
		<option value="Points">Points</option>
		<option value="TaskCategoryName">Category</option>
	</select>
</section>

@code {

}
