<h3>Welcome, dear system administrator!</h3>

<a href="/competitions">Manage competitions</a>
@if (CompetitionList.Count > 0)
{
	<table class="table">
		<thead>
			<th scope="col">Competition name</th>
			<th scope="col">Status</th>
		</thead>
		<tbody>
			@foreach (var competition in CompetitionList)
			{
				<tr>
					<td class="align-middle">
						@competition.CompetitionName
					</td>
					<td class="align-middle">
						@competition.competitionStatusName
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<span>
		Loading competitions...
	</span>
}
