@page "/competitionManagement/{id}"
@attribute [Authorize]

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="competitionTasksManagement/@id">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="competitionTeamsManagement/@id">Teams</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h3>Management page for competition: @competitionName</h3>
    </ChildContent>
    <ErrorContent Context="Some">
        <p class="error-message">Oops! Something went wrong while rendering competition management page!</p>
        <button class="btn btn-warning" @onclick="ResetError">Reset</button>
    </ErrorContent>
</ErrorBoundary>
