@page "/competitions"
@using BlazorApplication.Components.CompetitionTable
@using BlazorApplication.Components

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/createCompetition">Create Competition</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CompetitionTable Competitions="CompetitionList" OnDeleted="DeleteCompetition" />
    </div>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>