@page "/submitTask/{taskIdStr}/{teamIdStr}"
@attribute [Authorize(Roles = "participant")]

<h2>Submitting Task</h2>
<a href="/myTasks">Go Back</a>

<ErrorBoundary @ref="errorBoundary">
	<ChildContent>
		<EditForm Model="_submitData" OnValidSubmit="Submit" class="card card-body bg-light mt-5">
			<DataAnnotationsValidator />
			<SuccessfulSubmit @ref="_notification" _message="The task is successfully submitted" _navUrl="/myTasks" />

			<div class="mb-3 row">
				<label for="name" class="col-md-2 col-form-label">Github url:</label>
				<div class="col-md-10">
					<InputText id="name" class="form-control" @bind-Value="_submitData.GithubUrl" />
					<ValidationMessage For="@(() => _submitData.GithubUrl)"></ValidationMessage>
				</div>
			</div>

			<div class="mb-3 row">
				<label for="name" class="col-md-2 col-form-label">Your comment:</label>
				<div class="col-md-10">
					<InputText id="name" class="form-control" @bind-Value="_submitData.SubmitterComment" />
					<ValidationMessage For="@(() => _submitData.SubmitterComment)"></ValidationMessage>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-success">Create</button>
				</div>
			</div>

		</EditForm>
	</ChildContent>
	<ErrorContent Context="Some">
		<p class="error-message">Oops! Something went wrong while rendering submit task page!</p>
		<button class="btn btn-warning" @onclick="ResetError">Reset</button>
	</ErrorContent>
</ErrorBoundary>