@page "/tasks"
@attribute [Authorize]

@using BlazorApplication.Components.TaskTable
@using BlazorApplication.Components

<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    <div class="col-md-5">
        <Sort OnSortChanged="SortChanged" />
    </div>
    <AuthorizeView Roles="Administrator">
    <div class="col-md-2">
        <a href="/createTask">Create Task</a>
    </div>
    </AuthorizeView>
</div>
<div class="row">
    <div class="col">
        <TaskTable Tasks="TaskList" />
    </div>
</div>
<div class="row">
    <div class="col">
       <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>