@page "/teams"
@attribute [Authorize]

@using BlazorApplication.Components.TeamTable
@using BlazorApplication.Components

<ErrorBoundary @ref="errorBoundary">
	<ChildContent>
		<div class="row">
			<div class="col-md-10">
				@*Place for search and sort*@
			</div>
			<div class="col-md-2">
				<a href="/createTeam">Create Team</a>
			</div>
		</div>
		@if (successResponse && TeamList.Count == 0)
		{
			<div>
				<p></p>
				<p></p>
				<h5 class="text-primary">There is no any Team yet, please create new one.</h5>
			</div>
		}
		else
		{
			<AuthorizeView Roles="system administrator">
				<div class="row">
					<div class="col">
						<TeamTable Teams="TeamList" OnDeleted="DeleteTeam" />
					</div>
				</div>
			</AuthorizeView>
			<AuthorizeView Roles="competition administrator">
				<div class="row">
					<div class="col">
						<TeamTable Teams="TeamList" OnDeleted="DeleteTeam" IsCompetitionAdmin=true />
					</div>
				</div>
			</AuthorizeView>
			<div class="row">
				<div class="col">
					<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
				</div>
			</div>
		}
	</ChildContent>
	<ErrorContent Context="Some">
		<p class="error-message">Oops! Something went wrong while rendering teams page!</p>
		<button class="btn btn-warning" @onclick="ResetError">Reset</button>
	</ErrorContent>
</ErrorBoundary>